
@font-face {
	font-family: "Dosis";
	src: url('../fonts/Dosis-Regular.otf');
}

.font-dosis {
	font-family: Dosis !important;
}

@font-face {
	font-family: "Handboy";
	src: url('../fonts/HandBoy-v5.08.ttf');
}

.font-handboy {
	font-family: Handboy !important;
}

/* {{ Core Classes }} */

.fixed {
    position: fixed;
}

.font-bold {
	font-weight: bold !important;
}

.font-bolder {
	font-weight: bolder !important;
}

.font-light {
	font-weight: bolder !important;
}

.font-lighter {
	font-weight: bolder !important;
}

.form {
	background: #ffffff;
	width: 56%;
	min-width: 250px;
	max-width: 280px;
	display: block;
	padding: 4px;
	border-radius: 4px;
	font-family: Dosis;
	position: relative;
}

.form input {
	display: inline-block;
	width: 90%;
	padding: 8px;
	margin: 3px auto;
	border: 1px solid #dedede;
	border-radius: 6px;
	font-weight: 500;
}

.form table,.form tbody {
	display: inline-block;
	width: 96%;
	padding: 6px;
	margin: 0;
}

.form tbody,.form td,.form tr {
	display: block;
}

.form input[type=submit] {
	background: #0380dd;
	border: 0; 1px solid #0380dd;
	cursor: pointer;
}

.brandName {
	display: inline-table;
	color: #40c3ff;
	font-size: 1.5em;
	padding: 0px 4px;
	margin: 0;
}

.brandName:hover {
	color: #40c3ff;
}

.list-item {
	margin: 0 auto; 14px;
}

.list-item li, .nav .list-item .nav-item {
	display: inline-table;
	padding: 4px 6px;
	margin: 2px 0;
	cursor: pointer;
	font-weight: 600px;
}

.list-item li:hover {
	display: inline-table;
	background: #0380dd;
	border-radius: 2px;
}

.list-item a {
	display: inline-table;
	cursor: pointer;
}

.center {
	display: block;
	text-align: center;
	margin: auto;
}

.left {
	display: block;
	text-align: left;
	margin: auto 0;
	left: 0;
}

.right {
	display: block;
	text-align: right;
	margin: auto 0;
	right: 0;
}

.clear-float {
    display: block;
    float: none;
    clear: both;
    position: relative;
}

.clear-height {
    display: block;
    height: 20px;
    float: none;
    clear: both;
    position: relative;
}

.display-block {
	display: block !important;
}

.display-table {
	display: table !important;
}

.inline-block {
	display: inline-block !important;
}

.inline-table {
	display: inline-table !important;
}
.inline-grid {
	display: inline-grid !important;
}

.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

.custom-float {
	float: right !important;
}

.no-border {
	border: 0px !important;
}

.no-padding {
	padding: 0px !important;
}

.no-margin {
	margin: 0 !important;
}
.no-bg {
	background: none !important;
}

.margin-auto {
	margin: 0 auto !important;
}

.display-hide {
    display: none !important;
    visibility: hidden !important;
}

.display-show {
    display: block !important;
    visibility: visible !important;
}

.absolute {
	position: absolute !important;
}

.relative {
	position: relative !important;
}

.overflow-x-hide {
    overflow-x: hidden !important;
}

.overflow-y-hide {
    overflow-y: hidden !important;
}

.overflow-x-auto {
    overflow-x: auto !important;
}

.overflow-y-auto {
    overflow-y: auto !important;
}

.alert-error {
	display: block;
	padding: 6px; 4px;
	border-radius: 4px;
	background: #ffc8b9;
	margin: 4px auto;
}

.alert-success {
	display: block;
	padding: 6px; 4px;
	border-radius: 4px;
	background: #d9f9d7;
	margin: 4px auto;
}

.color-white {
	color: white !important;
}

.color-black {
	color: black !important;
}

.full-width {
	width: 98% !important;
	padding: 1% !important;
}

.full-height {
	height: 100% !important;
}

.defaultBtn {
    padding: 8px;
    border-radius: 2px;
    margin: 2px;
}

.z-index-1 {
	z-index: 1;
}
.z-index-2 {
	z-index: 2;
}
.z-index-3 {
	z-index: 3;
}
.z-index-4 {
	z-index: 4;
}
.z-index-5 {
	z-index: 5;
}
.z-index-6 {
	z-index: 1;
}
.z-index-7 {
	z-index: 2;
}
.z-index-8 {
	z-index: 3;
}
.z-index-9 {
	z-index: 4;
}
.z-index-10 {
	z-index: 5;
}

.slider {
    width: 100% !important;
    padding: 0 !important;
    overflow-y: none; 
    overflow-x: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.slider .rowspan {
    width: 400% !important;
    position: relative;
}

.item-grid {
	overflow: hidden !important;
}

.item-grid .grid {
	display: inline-grid !important;
	width: 160px !important;
	height: 210px !important;
	padding: 1%;
	overflow: hidden !important;
	position: relative;
	left: 100%;
	transition-duration: 2s;
}

.item-grid img {
	width: 100%;
	height: 160px !important;
	transform: scale(0.89);
	transition-duration: 0.6s;
}

.item-grid img:hover {
	height: auto !important;
	min-height: 160px !important;
	transform: scale(1);
	transition-duration: 0.6s;
}

.pagination button {
	display: inline-block !important;
	background: #909090 !important;
	padding: 8px 16px !important;
	margin: 1px !important;
}

.pagination button:hover,.pagination button.active {
	background: #cacaca !important;
}

/* {{ rowspan & grid stylings }} */

.rowspan {
	width: 100%; 99.8%;
	padding: 0px;
	margin: auto;
	font-size: 0px !important;
}

.rowspan .grid {
	font-size: 15.4px;
	text-align: ;
}

.grid .heading {
	background: #efefef;
	text-align: center;
	padding: 4px;
}


/* Grid Styling x1*/

.grid.column-1 {
	display: inline-block;
	width: 97.48%;
	padding: 1%;
	margin: auto;
	border: 1px solid #dedede;
}
.grid.column-2 {
	display: inline-block;
	width: 47.48%;
	padding: 1%;
	margin: auto;
	border: 1px solid #dedede;
}
.grid.column-3 {
	display: inline-block;
	width: 30.81%;
	padding: 1%;
	margin: auto;
	border: 1px solid #dedede;
}
.grid.column-4  {
	display: inline-block;
	width: 22.48%;
	padding: 1%;
	margin: auto;
	border: 1px solid #dedede;
}
.grid.column-5 {
	display: inline-block;
	width: 17.48%;
	padding: 1%;
	margin: auto;
	border: 1px solid #dedede;
}

/* Grid Styling x2 */

.grid.column-1x2 {
	display: inline-block;
	width: 97.48%;
	padding: 1%;
	margin: auto;
	border: 1px solid #dedede;
}
.grid.column-2x2 {
	display: inline-block;
	width: 97.48%;
	padding: 1%;
	margin: auto;
	border: 1px solid #dedede;
}
.grid.column-3x2 {
	display: inline-block;
	width: 63.62%;
	padding: 1%;
	margin: auto;
	border: 1px solid #dedede;
}
.grid.column-4x2 {
	display: inline-block;
	width: 46.96%;
	padding: 1%;
	margin: auto;
	border: 1px solid #dedede;
}
.grid.column-5x2 {
	display: inline-block;
	width: 34.96%;
	padding: 1%;
	margin: auto;
	border: 1px solid #dedede;
}


/* no-border Grid Styling x1*/

.no-border.grid.column-1 {
	display: inline-block;
	width: 98%;
	padding: 1%;
	margin: auto;
}
.no-border.grid.column-2 {
	display: inline-block;
	width: 48%;
	padding: 1%;
	margin: auto;
}
.no-border.grid.column-3 {
	display: inline-block;
	width: 31.33%;
	padding: 1%;
	margin: auto;
}
.no-border.grid.column-4  {
	display: inline-block;
	width: 23%;
	padding: 1%;
	margin: auto;
}
.no-border.grid.column-5 {
	display: inline-block;
	width: 18%;
	padding: 1%;
	margin: auto;
}

/* Grid Styling x2 */

.no-border.grid.column-1x2 {
	display: inline-block;
	width: 98%;
	padding: 1%;
	margin: auto;
}
.no-border.grid.column-2x2 {
	display: inline-block;
	width: 98%;
	padding: 1%;
	margin: auto;
	border: 1px solid #dedede;
}
.no-border.grid.column-3x2 {
	display: inline-block;
	width: 64.66%;
	padding: 1%;
	margin: auto;
	border: 1px solid #dedede;
}
.no-border.grid.column-4x2 {
	display: inline-block;
	width: 48%;
	padding: 1%;
	margin: auto;
	border: 1px solid #dedede;
}
.no-border.grid.column-5x2 {
	display: inline-block;
	width: 38%;
	padding: 1%;
	margin: auto;
	border: 1px solid #dedede;
}

.thumbnail, #thumbnail {
	transform: scale(0.95);
	transition-duration: 0.4s;
}
.thumbnail2, #thumbnail2 {
	transform: scale(0.95); //no hover
	transition-duration: 0.4s;
}

.thumbnail:hover, #thumbnail:hover {
	transform: scale(1);
	transition-duration: 0.4s;
}

.blink {
	animation-name: blinks;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	position: relative;
	color: white;
}

.typed-cursor {
	color: white;
	font-size: 1.6em;
	margin: 0 4px;
	animation-name: blinks;
	animation-duration: 0.6s;
	animation-iteration-count: infinite;
}


#body-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
}

#darkLayer {
	background: black;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	z-index: 11;
	top: 0;
}


@keyframes blinks {
	from { opacity: 0; }
	to { opacity: 1 !important; }
}

@media all and (max-width:560px){

    .no-border.grid.column-5 {
        width: 31.33%;
    }
}


